.sceneOne, .sceneTwo, .sceneThree, .sceneFour{
  display: none;
}

.main {
  float: left;
  margin-right: 30px;
  width: 300px;
  background-color: white;
}


.rickTrickDiv {
  float: right;
  width: 300px;
  background-color: white;
}
